{%extends "base.html" %}      
    </div>
   {%block panel%}  
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Oulet Settings</h3>
  </div>
  <div class="panel-body">
    <!--Table beginning-->  

                    <table class="table">
                      <tr>
                        <th width="5%">#</th>
                        <th width="20%">Name</th>
                        <th width="15%">Power On Delay</th>
                        <th width="15%">Power Off Delay</th>
                        <th width="15%"> Reboot Duration</th>
                        <th>Edit</th>
                      </tr>
                      {% for outlet in config_list%}
                          <tr align="left">
                            <td>{{outlet.id}}</td>
                            <td>{{outlet.name}}</td>
                            <!--Human readable isimleri gostermek icin model.get_FIELD_display metdou kullaniliyor
                            In Django templates you can use the "get_FOO_display()" method, that will return the readable alias for the field, where 'FOO' is the name of the field.-->
                            <td>{{outlet.get_pwr_on_delay_display}}</td>
                            <td>{{outlet.get_pwr_off_delay_display}}</td>
                            <td>{{outlet.get_reboot_duration_display}}</td>
                            <td><button class="btn btn-sm btn-primary" type="submit" name="submit">Edit</button></td>
                          </tr>
                      {%endfor%}

                    </table>
              <!--Table End-->
  
  </div> <!--End panel-body-->
</div>
  {%endblock%}
  {% block customscripts %}
  <script type="text/javascript">
   /*$(document).ready(function () {
    $("td").click(function () {
        var OriginalContent = $(this).text();
          
        $(this).addClass("cellEditing");
        $(this).html("<input type='text' value='" + OriginalContent + "' />");
        $(this).children().first().focus();
  
        $(this).children().first().keypress(function (e) {
            if (e.which == 13) {
                var newContent = $(this).val();
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
          
    $(this).children().first().blur(function(){
        $(this).parent().text(OriginalContent);
        $(this).parent().removeClass("cellEditing");
    });
    });
}); */
    </script>
  {% endblock %}