{%extends "base.html" %}      
    </div>
   {%block panel%}  
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Oulet Config</h3>
  </div>
  <div class="panel-body">
    Panel content
    Yolsuzluk soruşturmasını karartmak amacıyla yürütülen algı operasyonunda, 'paralel yapı' söylemiyle gönüllüler hareketi hedef yapılıyor. Bu çerçevede iftira ve yalan içeren demeçler veriliyor, haberler yazılıyor. Enerji ve Tabii Kaynaklar Bakanı Yıldız da, bu operasyonda kullanılan bir iddiaya imza attı ve bunu gerçekmiş gibi aktardı. Bakan, bir televizyon programında "Eğer dershaneler konu olsaydı 'uzun adamın ölümünü 3 yıldan beri istiyoruz ama hala ölmedi' denmezdi. Bunu duyduğumda dondum kaldım. Bu itikaden de yanlış bir şeydir." demişti. Önceki gün bu yöndeki sorulara muhatap kaldı. Bunun üzerine de, "Uzun adam için üç yıldır, dua ediyoruz. Hala ayakta.' diyen bir grup var. Demek ki, halisane söylemiyorlar. Başka ve farklı icraatlar da olabilir.” ifadelerini kullandı.
  </div>
</div>
  {%endblock%}
