{%extends "base.html" %}      
    </div>
   {%block panel%}  
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Oulet Settings</h3>
  </div>
  <div class="panel-body">
    
    <!--Table beginning-->  

                    <table class="table">
                      <tr>
                        <th width="5%">#</th>
                        <th width="20%">Name</th>
                        <th width="15%">Power On Delay</th>
                        <th width="15%">Power Off Delay</th>
                        <th width="15%"> Reboot Duration</th>
                        <th>Edit</th>
                      </tr>
                      
                      {{formsets.management_form}}
                      
                      {% for form in formsets %}

                          
                          <tr align="left">

                            <td>{{forloop.counter}}</td>
                            <td>{{form.name}}</td>
                            <td>{{form.pwr_on_delay}}</td>
                            <td>{{form.pwr_off_delay}}</td>
                            <td>{{form.reboot_duration}}</td>
                            <td><button class="btn btn-sm btn-primary" type="submit" name="submit">Edit</button></td>

                          </tr>
                      {%endfor%}
                      

                    </table>
              <!--Table End-->
  
  </div> <!--End panel-body-->
</div>
  {%endblock%}
  {% block customscripts %}
  <script type="text/javascript">
          $('input[name^=form-]').prop('disabled', true);
          $('select[name^=form-]').prop('disabled', true);
  </script>
  {% endblock %}