{%extends "base.html" %}   
  {%block panel%}
  <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Oulet Control</h3>
          </div>
      <div class="panel-body">
        <div class="row"> <!--Row beginning-->
            <div class="col-sm-3">
            
              <label >Select Outlet Control Action: </label></br>
              <label >Aply To: </label>
            
            </div>
            <!-- <div class="col-sm-3 col-sm-3-offset-3"></div> -->
            
            <div class="col-sm-8 col-sm-offset-1">
              <form id='form-control' name='control_form' method='post' action='/control/'>
              <Select name="action_list" class="select">
                  <option value="1" selected>No Action</option>
                  <option value="2">Immediate On</option>
                  <option value="3">Delayed On</option>
                  <option value="4">Immediate Off</option>
                  <option value="5">Delayed Off</option>
                  <option value="6">Immediate Reboot</option>
                  <option value="7">Delayed Reboot</option>
                  <option value="8">Cancel Pending Commands</option>
              </Select></br>
              <input type="checkbox" id="check_all"></input>All outlets
            </div>

              
        </div> <!--row end-->
        
        
       </div> <!--Panel body end-->
  
          <table class="table" id="tableOne">
                <tr>
                  <th width="3%">?</th>
                  <th width="3%">#</th>
                  <th width="8%">State</th>
                  <th >Name</th>
                </tr>
                {% for outlet in outlets%}
                    <tr align="left">
                      {% if outlet_id == outlet.id %}

                        <td><input type="checkbox" checked="checked" name="checkbox_{{outlet.id}}"></input></td>
                      
                      {%else%}
                        <td><input type="checkbox" name="checkbox_{{outlet.id}}"></input></td>
                      {%endif%}
                      
                      <td>{{outlet.id}}</td>
                      
                      {% if outlet.state == 1 %}
                          <td id="on_off_{{outlet.id}}" class="on_off"><font color="#058812"><b>ON</b></font></td>
                      {% else %}
                           <td id="on_off_{{outlet.id}}" class="on_off"><font color="#636b63"><b>OFF</b></font></td>
                      
                      {% endif %}   

                      <td>{{outlet.name}}</td>
                    </tr>
                {%endfor%}

              </table>
        {%csrf_token%}      
        <button class="btn btn-lg btn-primary" type="submit" name="submit">Next>></button>
        <button class="btn btn-lg btn-danger" type="reset" name="cancel">Cancel</button>
    
        
        </form>
        </br>
        </br>
        <font color="red">* Indicates a pending state change</font>
        </br>
  </div>
  {%endblock%}
  {% block customscripts %}
  <script type="text/javascript">
          $(document).ready(function() {
          $("#check_all").click(function() {
          var checkedStatus = this.checked;
          $("#tableOne tbody tr td:first-child input:checkbox").each(function() {
          this.checked = checkedStatus;
          });
          });
          
          /*Secilen action'in gereceklesmesi sureye bagli ise kontrol edilecek outletlerin  ON olmasi da o sure ile orantili olacaktir. Bu ara donem de ilgili outletler turuncu renkte *OFF olarak gozukecektir.*/
          function refresh(){
          $.ajax({
                      
                      type: "GET",
                      dataType: "json",
                      contentType: "application/x-www-form-urlencoded",
                      url : '/check_last_state/',
                      //data : {out_number: $out_id},
                      success:function(response){             

                              console.log(response);
                              //alert(response.1);
                              $(".on_off").each(function(){
                                $on_off_id=$(this).attr('id');
                                $pin_num=parseInt($on_off_id.substring(7,8))-1;
                                if (response.$pin_num=='*OFF'){
                                  $(this).text('*OFF');
                                  
                              }
                              else {
                                $(this).text('ON');
                                  
                              }


                              });


                              setTimeout(refresh,3000);




                              
                             
                                                                    


                      },
                      timeout:10000
                      
              }); //ajax end 
              } //Function refresh() end. 
              setTimeout(refresh,3000);

          });
  </script>
  {% endblock %}
