{%extends "base.html" %} 
{%block panel%}

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%"><TR><TD><TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%">
<TR>
<td noWrap bgcolor=#003366 WIDTH="98%"><FONT SIZE=2 color="#FFFFFF" face=Verdana,Arial,Helvetica,sans-serif><B>Network Settings for TCP/IP using  Manual Settings</B></FONT></TD>
</TR>
<TR><td WIDTH="2%">&nbsp;</TD>

</TABLE>
</TD>
</TR>
<TR><TD><TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%">
<TR><td WIDTH="2%">&nbsp;</TD>
<TD><table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<TR><td ROWSPAN=2 WIDTH="1%"></TD>
<td noWrap WIDTH="99%" HEIGHT=16 bgcolor=#336699><font color="#FFFFFF" face=Verdana,Arial,Helvetica,sans-serif size=2><B>Current TCP/IP Settings</B></FONT></TD>
</TR>

</TABLE>
</TD>
</TR>

</TABLE>
</TD>
</TR>
<TR><TD><TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%">
<TR><td WIDTH="3%"></TD>
<TD><TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" bgcolor=#f4f4f4>

<TR>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;System IP:</B></FONT></TD>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>{{ip}}</FONT></TD>

</TR>
<TR>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;Subnet Mask:</B></FONT></TD>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>{{mask}}</FONT></TD>
</TR>
<TR>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;Default Gateway:</B></FONT></TD>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>{{gateway}}</FONT></TD>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;</B></FONT></TD>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>&nbsp;</FONT></TD>
</TR>
<TR>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;Ethernet Port Speed:</B></FONT></TD>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>{{speed}} {{speed_mode}}</FONT></TD>
<TD COLSPAN="2" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>&nbsp;</FONT></TD>
</TR>
<TR>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;MAC Address:</B></FONT></TD>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>{{hwaddr}}</FONT></TD>	
</TR>
<TR>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;Boot Mode:</B></FONT></TD>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>{{bootmode}}</FONT></TD>	
</TR>
<TR>
<TD COLSPAN="4"><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>&nbsp;</FONT></TD>
</TR>
<TR>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;Host Name:</B></FONT></TD>
<TD COLSPAN="3" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>{{hostname}}</FONT></TD>
</TR>
<!-- <TR>
<td WIDTH="25%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;Domain Name:</B></FONT></TD>
<TD COLSPAN="3"><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>MTM</FONT></TD>
</TR>
<TR>
<TD COLSPAN="4"><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>&nbsp;</FONT></TD>
</TR> -->

</TABLE>
</TD>
</TR>

</TABLE>
</TD>
</TR>
</TABLE>
<BR>

<FORM METHOD="POST" ACTION="" NAME="network_form">
<div class="md">
	
</div>

        <table class="table">
            <CAPTION class="caption"><font color="#FFFFFF" face=Verdana,Arial,Helvetica,sans-serif size=2><B>Configure General Settings</B></FONT></CAPTION>
            <!-- <thead>
                <tr>
                    <th>Biography</th>
                </tr>
            </thead> -->
            <tbody>
                <tr>
                    <td WIDTH="20%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;Boot Mode:</B></FONT></TD>
                    <TD WIDTH="5%" ><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>{{form.bootmode}}</FONT></TD>
                    <td></td>
                    
                </tr>
                <tr>
                    
					<td WIDTH="20%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;System IP:</B></FONT></TD>
					<td WIDTH="5%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>&nbsp;{{form.ipaddress}}
					<TD nowrap WIDTH="60%" ><FONT SIZE=2 color="red" face=Verdana,Arial,Helvetica,sans-serif>{{ form.ipaddress.errors }} </FONT></TD>
                    
                </tr>
                <tr>
	                <td WIDTH="20%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;Subnet Mask:</B></FONT></TD>
					<TD WIDTH="5%" ><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>&nbsp;{{form.subnetmask}}
					<TD nowrap WIDTH="60%" ><FONT SIZE=2 color="red" face=Verdana,Arial,Helvetica,sans-serif>{{ form.subnetmask.errors }}
                </tr>
                <tr>
                    <td WIDTH="20%" noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;Default Gateway:</B></FONT></TD>
					<TD WIDTH="5%" ><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>&nbsp;{{form.gateway}}
					<TD nowrap WIDTH="60%" ><FONT SIZE=2 color="red" face=Verdana,Arial,Helvetica,sans-serif>{{ form.gateway.errors }}</FONT></TD>
                </tr>
                <tr>
                	<td WIDTH="20%"  noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;Host Name:</B></FONT></TD>
					<TD WIDTH="5%" ><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif>&nbsp;{{form.hostname}}
					</FONT></TD>
					<TD nowrap WIDTH="60%" ><FONT SIZE=2 color="red" face=Verdana,Arial,Helvetica,sans-serif>{{ form.hostname.errors }}</FONT></TD>
                </tr>
                <tr>
                	<td WIDTH="20%"  noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;</B></FONT></TD>
                	<td WIDTH="20%"  noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;</B></FONT></TD>
                	<td WIDTH="20%"  noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;</B></FONT></TD>
                </tr>
                <tr>
                	<td WIDTH="20%"  noWrap><FONT SIZE=2 color=#001144 face=Verdana,Arial,Helvetica,sans-serif><B>&nbsp;</B></FONT></TD>
					<td noWrap WIDTH="5%" >&nbsp;<INPUT TYPE="SUBMIT" id="submit" NAME="submit" VALUE="Apply">
					<INPUT TYPE="button" name="cancel" VALUE="Cancel" onclick="window.location='/'">
					</TD>
					<TD nowrap WIDTH="60%" ><FONT SIZE=2 color="red" face=Verdana,Arial,Helvetica,sans-serif>{{ form.non_field_errors }}</FONT></TD>
                </tr>
            </tbody>
        </table>
{%csrf_token%}

</FORM>

{%endblock%}

{% block customscripts %}
<script type="text/javascript">

$(document).ready(function(){ 
			if($("#bootmode option:selected").val()=='2'){
				
				$("#ipaddress").prop('disabled',true);
                $("#subnetmask").prop('disabled',true);
                $("#gateway").prop('disabled',true);
			}

			else{
				$("#ipaddress").prop('disabled',false);
                $("#subnetmask").prop('disabled',false);
                $("#gateway").prop('disabled',false);


			}
            
            $('[name="bootmode"]').change(function(){
                //alert($(this).val()); 
                
                var selected=$(this).val();
                if (selected=='2'){
                	location.reload(true);


                }
                if (selected=='1'){
                	$("#ipaddress").prop('disabled',false);
            	    $("#subnetmask").prop('disabled',false);
                	$("#gateway").prop('disabled',false);
	

                }



            });

            $('#submit').click(function(){
            	$("#ipaddress").prop('disabled',false);
                $("#subnetmask").prop('disabled',false);
                $("#gateway").prop('disabled',false);


            });


 });

 </script>

{% endblock %}