{% extends "base.html" %}
   {%block panel%}
  <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Oulet Status</h3>
              </div>
              <div class="panel-body">
              <!--Table beginning-->  

                    <table class="table">
                      <tr>
                        <th width="3%">#</th>
                        <th width="8%">State</th>
                        <th >Name</th>
                      </tr>
                      {% for outlet in outlets%}
                          <tr align="left">
                            <td>{{outlet.id}}</td>
                            
                            {% if outlet.state %}
                                <td><a href="control/{{outlet.id}}/"><font color="green">On</font></a></td>
                            {% elif not outlet.state %}
                                 <td><a href="control/{{outlet.id}}/"><font color="#636b63">Off</font></a></td>
                            {% endif %}   

                            <td>{{outlet.name}}</td>
                          </tr>
                      {%endfor%}

                    </table>
              <!--Table End-->
              </div> <!--End Panel-body -->
  </div> <!--End panel primary-->
    {%endblock%}

    